#drop_zone {
	text-align: center;
	border: 2px dashed #b9b9ba;
	padding-top: 2em;
	padding-bottom: 2em;
}

body {
	padding: 0;
	margin: 1em;
	font: 13px Helvetica, Arial, Geneva, sans-serif;
}

h2, h3 {
	text-align: center;
}

#container {
	width: 1100px;
	margin: auto;
}

#intext, #out-lock-head {
	margin: 1em;
}

#in-resetzoom, #out-resetzoom {
	float: right;
}

#viewer, #playbar, #load {
	border-bottom: 2px solid #f0f0f0;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.viewspan {
	width: 548px;  /* 4px automatic space between inline divs */
	/*float: left;*/
	/*border: 1px solid #f77;*/
	display: inline-block;
	vertical-align:text-top;
}

.midviewspan {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

.heading {
	margin: 0.3em 0 0 1em;
}

.view-container {
	margin: 0.3em auto 0 auto;
}

.view {
	/*box-shadow: inset #888 0 2px 10px;*/
	border: 1px solid #ccc;
	display: block;
}

.button {
	margin: 1em 0 0 1.5em;
}

.ui-widget {
	font-size: 11px;
}

#begin {
	clear: both;
	width: 500px;
	float: left;
}

#end {
	width: 500px;
	float: right;
}

#shrink {
	float: right;
	margin-top: -0.5em;
}

#play {
	float: left;
	margin-top: -0.5em;
}

#touchselect {
	clear: both;
}

#playbar {

}

#playpause {
	float: left;
	margin-top: 0.8em;
	visibility: hidden;
}

#stepback {
	display: inline;
}

#stepforward {
	display: inline;
}

#sliderdiv {
	margin-left: 8em;
	margin-right: 10em;
}

#load {
	clear: both;
}

#textdiv {
	width: 500px;
	float: left;
}

#textdiv textarea {
	height: 150px;
	border: 1px solid #ccc;
}

#feedbackupload {
	float: right;
	width: 500px;
}

#unittest_div {
	visibility: hidden;
}

#text_box {
	width: 100%;
	border: 1px inset #a3a6a6;
}

.text_box_hilight {
	box-shadow: 0 0 7px rgb(0, 255, 255);
	-webkit-box-shadow: 0 0 7px rgb(0, 255, 255);
	-moz-box-shadow: 0 0 7px rgb(0, 255, 255);
}

#begin_event, #end_event {
	display:block;
	width: 98%;
	border: 1px solid #ccc;
	margin:auto;
	height: 150px;
}

#popup {
	background: white;
	border: 1px solid #ccc;
	display: none;
	padding: 10px;
	position: absolute;
}
